<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
</head>
<body>
  <p class="display-3">{{error}}</p>
</body>
</html>