
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/index">
            <strong class="h1 text-success">P</strong>
            <small class="text-mute h3">Book Store</small>
        </a>


        <button class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <section class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <section class="d-flex row-flex-reverse">
                {{#user}}
                    <section class="d-inline-flex d-block ">
                        {{> addBookButton.hbs}}
                    </section>
                {{/user}}

                {{#user}}{{> signOutButton.hbs}}{{/user}}

                {{#user}}
                    <section class="d-inline-flex d-block d-md-none">
                        {{> recentPostLink.hbs}}
                    </section>
                {{/user}}
            </section>
        </section>

    </div>
</nav>