<!DOCTYPE html>
<html lang="en">

{{> ../reuse/head.hbs}}

<body>
  <header>
      {{> ../reuse/nav.hbs}}
  </header>

  <main class="container-fluid">

      <small class="d-block text-end text-muted">
          username:
          {{#user}}<span class="text-info">{{user.name}}</span>{{/user}}
          {{^ user}}<span class="text-warning">Guest</span>{{/user}}
      </small>
     <div class="row justify-content-center">

         <div class="col-sm col-md-9 d-block bg-white bg-gradient my-2 justify-content-center">
              {{> ../reuse/carousel.hbs }}
         </div>

         <section
                 class="col-sm col-md-3 text-center my-2
                 d-none d-md-block
              {{#books}}border bg-body{{/books}}"
         >
             {{> rightIndex.hbs}}
         </section>

     </div>

  </main>

  {{> ../reuse/footer.hbs}}

  {{> ../reuse/includeJs.hbs}}
</body>
</html>