<div class="col justify-content-center order-sm-1">
    <a class="d-block fw-bold fst-italic text-center p-2 bg-light text-dark text-decoration-none" href="#">Write your post</a>

    <p class="mt-2 mx-1 text-mute">
        Worry not about what you cannot control, move your energy to what you can create. And, inspire others.
    </p>
</div>