<div class="col justify-content-center ">
    <div class="rounded-circle p-2 my-2" style="background: grey">
      <span class="d-block fw-bold fst-italic text-mute text-center text-dark p-2 dipslay-2">Placodes Inc</span>
      <span class="d-block text-mute text-center">@2022</span>
    </div>
</div>