<div class="col justify-content-center order-sm-2">
    <a class="d-block fw-bold fst-italic text-center p-2 bg-light text-dark text-decoration-none" href="#">
        Relate with people
    </a>

    <p class="mt-2 mx-1 text-mute">
        It’s only after you’ve stepped outside your comfort zone that you begin to change, grow, and transform.
    </p>
</div>