

<div class="col justify-content-center order-sm-3">
    <a class=" d-block fw-bold fst-italic p-2 bg-light text-center text-dark text-decoration-none" href="#">
        Varying opinion
    </a>

    <p class="mt-2 mx-1 text-mute">
        The hypothesis that life has developed from inorganic matter is, at present, still an article of faith.
    </p>
</div>

