<!DOCTYPE html>
<html>
{{> ../reuse/head.hbs}}
<body>
<header>
    {{> ../reuse/addBookNav.hbs}}
</header>

<main class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-xs col-md-4">
            {{> main.hbs}}
        </div>
    </div>

</main>

{{> ../reuse/footer.hbs}}
{{> ../reuse/includeJs.hbs}}
</body>
</html>